
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulse-color {
  0% {
    background: #FFF;
  }
  50% {
    background-color: #F6D06B;
  }
  100% {
    background: #FFF;
  }
}

body {
  font-family: "TT-Drugs", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
  background: #062232;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/*  Flash white when photo is in progress */
body.pose {
  animation: pulse-color 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);

}
body.error {
  background-color: #CD993D;
}
body.pose #statustext,
body.ready #statustext {
  animation: pulse 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.status-text {
  display: block;
  text-decoration: none;
  text-align: center;
/*   margin-top: $space; */
/*   margin-bottom: $space; */
  color: #CD993D;
  font-size: 20px;
  font-family: 'Ogg';
/*   text-transform: uppercase; */
}

main {
  margin-bottom: 2rem;
}

main a,
footer a {
  color: #DFD3C8;
  text-decoration: none;
  font-size: 16px;
}

main p {
  font-family: 'Canela';
/*   text-transform: uppercase; */
  letter-spacing: 2px;
/*   padding-top: 2*$space; */
  font-size: 1.25rem;
  color: #DFD3C8;
}

footer {
/*   padding: 1rem; */
}

.sms-status-header {
/*   margin-bottom: 6rem; */
  margin-top: 4rem;
  font-size: 3rem;
}

