
/*  BUTTON STYLING */
.btn {  
  display: inline-block;
  height: $form-height;
  padding-right: 2*$space;
  padding-left: 2*$space;
  padding-top: 10px;
  padding-bottom: 8px;
  background: #062232;;
  color: #CD993D;
  font-family: 'TT-Drugs', sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1.8px solid #CD993D;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #CD993D;
  color: #062232;;
  transition: .5s;
}
.btn:disabled {
  background: #062232;
}
