// typography
@font-face {
	font-family: 'Garamond';
	src: url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161956a6b51536d021dfc1/1595283798852/GaramondThree.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f1619532fb07e1186e05b0d/1595283795938/GaramondThree.woff')
			format('woff'),
		/* Pretty Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f16194fa6b51536d021dd87/1595283791677/GaramondThree.ttf')
			format('truetype');
	/* Safari, Android, iOS */
}

@font-face {
	font-family: 'Garamond-Italic';
	src: url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161971fe54dd5188a48a1b/1595283825938/GaramondThree-Italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f16196c7057b538deb89d70/1595283821065/GaramondThree-Italic.woff')
			format('woff'),
		/* Pretty Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161967906e646bb464562c/1595283815911/GaramondThree-Italic.ttf')
			format('truetype');
	/* Safari, Android, iOS */
}

@font-face {
	font-family: 'TT-Drugs';
	src: url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f1619897057b538deb8a55a/1595283849738/TTDrugs-Bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f1619853b72027be1c13f78/1595283846003/TTDrugs-Bold.woff')
			format('woff'),
		/* Pretty Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f16197fa6b51536d021e572/1595283839907/TTDrugs-Bold.ttf')
			format('truetype');
	/* Safari, Android, iOS */
}

@font-face {
	font-family: 'Canela';
	src: url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f1619448cc72b1ccfd0dc61/1595283780808/Canela-Thin.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161941e1f89b30f983d09d/1595283777673/Canela-Thin.woff')
			format('woff'),
		/* Pretty Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f16193caba56b06240fc344/1595283772539/Canela-Thin.ttf')
			format('truetype');
	/* Safari, Android, iOS */
}

@font-face {
	font-family: 'Sweet-Sans';
	src: url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161c21a693541395463656/1595284514311/SweetSansPro-Bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161c1e9fc86a3cecd2cda9/1595284510710/SweetSansPro-Bold.woff')
			format('woff'),
		/* Pretty Modern Browsers */
			url('https://static1.squarespace.com/static/5f0e48c077d20d30ef67219a/t/5f161c19e05f851dbe94c117/1595284506202/SweetSansPro-Bold.ttf')
			format('truetype');
	/* Safari, Android, iOS */
}